@model BankCloud.Models.ViewModels.Orders.OrdersProductsPanelViewModel
@using BankCloud.Services.Common
@using System.Linq
@{
    ViewData["Title"] = "MySells";
}

<section class="section-agents section-t8">
    @foreach (var item in Model.Type)
    {
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="title-single-box">
                            <h1 class="title-single color-b">@item</h1>
                            <span class="color-text-a">My @item sells</span>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Order @item Options
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            @if (item == GlobalConstants.SAVE)
                            {
                                <img src="~/img/deposit.png" alt="" class="img-a img-fluid">
                            }
                            @if (item == GlobalConstants.LOAN)
                            {
                                <img src="~/img/loan-2.jpg" alt="" class="img-a img-fluid">
                            }
                            @if (item == GlobalConstants.INVESTMENT)
                            {
                                <img src="~/img/investments.jpg" alt="" class="img-a img-fluid">
                            }
                            @if (item == GlobalConstants.INSURANCE)
                            {
                                <img src="~/img/insurance.jpg" alt="" class="img-a img-fluid">
                            }
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a href="#">
                                            <br /><span class="h4">@item</span>
                                        </a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex justify-content-center">
                                        @if (item == GlobalConstants.SAVE)
                                        {
                                            <a href="/CreditScorings/SavePendingRequests"><span class="price-a">Pending</span></a>
                                        }
                                        @if (item == GlobalConstants.LOAN)
                                        {
                                            <a href="/CreditScorings/LoanPendingRequests"><span class="price-a">Pending</span></a>
                                        }
                                        @if (item == GlobalConstants.INVESTMENT)
                                        {
                                            <a href="/CreditScorings/InvestmentPendingRequests"><span class="price-a">Pending</span></a>
                                        }
                                        @if (item == GlobalConstants.INSURANCE)
                                        {
                                            <a href="/CreditScorings/InsurancePendingRequests"><span class="price-a">Pending</span></a>
                                        }
                                    </div>
                                </div>
                                <div class="card-footer-a">
                                    <ul class="card-info d-flex justify-content-around">
                                        <li>
                                            <h4 class="card-info-title">You Have</h4>
                                            @if (item == GlobalConstants.SAVE)
                                            {
                                                <span>
                                                    @Model.OrderedSaves.Where(x => x.Status == "Pending").Count() Pending
                                                </span>
                                            }
                                            @if (item == GlobalConstants.LOAN)
                                            {
                                                <span>
                                                    @Model.OrderedLoans.Where(x => x.Status == "Pending").Count() Pending
                                                </span>
                                            }
                                            @if (item == GlobalConstants.INVESTMENT)
                                            {
                                                <span>
                                                    @*@Model.OrderedLoans.Where(x => x.Status == "Pending").Count() Pending*@
                                                </span>
                                            }
                                            @if (item == GlobalConstants.INSURANCE)
                                            {
                                                <span>
                                                    @*@Model.OrderedLoans.Where(x => x.Status == "Pending").Count() Pending*@
                                                </span>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            @if (item == GlobalConstants.SAVE)
                            {
                                <img src="~/img/deposit.png" alt="" class="img-a img-fluid">
                            }
                            @if (item == GlobalConstants.LOAN)
                            {
                                <img src="~/img/loan-2.jpg" alt="" class="img-a img-fluid">
                            }
                            @if (item == GlobalConstants.INVESTMENT)
                            {
                                <img src="~/img/investments.jpg" alt="" class="img-a img-fluid">
                            }
                            @if (item == GlobalConstants.INSURANCE)
                            {
                                <img src="~/img/insurance.jpg" alt="" class="img-a img-fluid">
                            }
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a href="#">
                                            <br /><span class="h4">@item</span>
                                        </a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex justify-content-center">
                                        @if (item == GlobalConstants.SAVE)
                                        {
                                            <a href="/CreditScorings/SaveApprovedRequests"><span class="price-a">Approved</span></a>
                                        }
                                        @if (item == GlobalConstants.LOAN)
                                        {
                                            <a href="/CreditScorings/LoanApprovedRequests"><span class="price-a">Approved</span></a>
                                        }
                                        @if (item == GlobalConstants.INVESTMENT)
                                        {
                                            <a href="/CreditScorings/InvestmentApprovedRequests"><span class="price-a">Approved</span></a>
                                        }
                                        @if (item == GlobalConstants.INSURANCE)
                                        {
                                            <a href="/CreditScorings/InsuranceApprovedRequests"><span class="price-a">Approved</span></a>
                                        }
                                    </div>
                                </div>
                                <div class="card-footer-a">
                                    <ul class="card-info d-flex justify-content-around">
                                        <li>
                                            <h4 class="card-info-title">You Have</h4>
                                            @if (item == GlobalConstants.SAVE)
                                            {
                                                <span>
                                                    @Model.OrderedLoans.Where(x => x.Status == "Approved").Count() Approved
                                                </span>
                                            }
                                            @if (item == GlobalConstants.LOAN)
                                            {
                                                <span>
                                                    @Model.OrderedLoans.Where(x => x.Status == "Approved").Count() Approved
                                                </span>
                                            }
                                            @if (item == GlobalConstants.INVESTMENT)
                                            {
                                                <span>
                                                    @*@Model.OrderedLoans.Where(x => x.Status == "Pending").Count() Pending*@
                                                </span>
                                            }
                                            @if (item == GlobalConstants.INSURANCE)
                                            {
                                                <span>
                                                    @*@Model.OrderedLoans.Where(x => x.Status == "Pending").Count() Pending*@
                                                </span>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            @if (item == GlobalConstants.SAVE)
                            {
                                <img src="~/img/deposit.png" alt="" class="img-a img-fluid">
                            }
                            @if (item == GlobalConstants.LOAN)
                            {
                                <img src="~/img/loan-2.jpg" alt="" class="img-a img-fluid">
                            }
                            @if (item == GlobalConstants.INVESTMENT)
                            {
                                <img src="~/img/investments.jpg" alt="" class="img-a img-fluid">
                            }
                            @if (item == GlobalConstants.INSURANCE)
                            {
                                <img src="~/img/insurance.jpg" alt="" class="img-a img-fluid">
                            }
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a href="#">
                                            <br /><span class="h4">@item</span>
                                        </a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex justify-content-center">
                                        @if (item == GlobalConstants.SAVE)
                                        {
                                            <a href="/CreditScorings/SaveRejectedRequests"><span class="price-a">Rejected</span></a>
                                        }
                                        @if (item == GlobalConstants.LOAN)
                                        {
                                            <a href="/CreditScorings/LoanRejectedRequests"><span class="price-a">Rejected</span></a>
                                        }
                                        @if (item == GlobalConstants.INVESTMENT)
                                        {
                                            <a href="/CreditScorings/InvestmentRejectedRequests"><span class="price-a">Rejected</span></a>
                                        }
                                        @if (item == GlobalConstants.INSURANCE)
                                        {
                                            <a href="/CreditScorings/InsuranceRejectedRequests"><span class="price-a">Rejected</span></a>
                                        }
                                    </div>
                                </div>
                                <div class="card-footer-a">
                                    <ul class="card-info d-flex justify-content-around">
                                        <li>
                                            <h4 class="card-info-title">You Have</h4>
                                            @if (item == GlobalConstants.SAVE)
                                            {
                                                <span>
                                                    @Model.OrderedLoans.Where(x => x.Status == "Rejected").Count() Rejected
                                                </span>
                                            }
                                            @if (item == GlobalConstants.LOAN)
                                            {
                                                <span>
                                                    @Model.OrderedLoans.Where(x => x.Status == "Rejected").Count() Rejected
                                                </span>
                                            }
                                            @if (item == GlobalConstants.INVESTMENT)
                                            {
                                                <span>
                                                    @*@Model.OrderedLoans.Where(x => x.Status == "Pending").Count() Pending*@
                                                </span>
                                            }
                                            @if (item == GlobalConstants.INSURANCE)
                                            {
                                                <span>
                                                    @*@Model.OrderedLoans.Where(x => x.Status == "Pending").Count() Pending*@
                                                </span>
                                            }
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <hr />
    }
</section>