@model List<BankCloud.Models.ViewModels.Home.HomeCategoriesViewModel>;
@using BankCloud.Services.Common

@{
    ViewData["Title"] = "Categories";
}

<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Our Amazing Opportunities</h1>
                    <span class="color-text-a">Grid Categories</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Categories Grid
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="property-grid grid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
            </div>
            <div class="col-md-4">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="~/img/loan-2.jpg" alt="" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                            <div class="card-header-a">
                                <h2 class="card-title-a">
                                    <a href="/Products/Loans">
                                        Loans
                                        <br /> For all your needs
                                    </a>
                                </h2>
                            </div>
                            <div class="card-body-a">
                                <div class="price-box d-flex">
                                    <a href="/Products/Loans"><span class="price-a">Ask now</span></a>
                                </div>
                            </div>
                            <div class="card-footer-a">
                                <ul class="card-info d-flex justify-content-around">
                                    <li>
                                        <h4 class="card-info-title">Over</h4>
                                        <span>
                                            @(Model.Where(x => x.Type == GlobalConstants.LOAN).Count() - 1) loans
                                        </span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Rates To</h4>
                                        <span>
                                            @(Model.Where(x => x.Type == GlobalConstants.LOAN).Select(x => x.InterestRate).Min()) %
                                        </span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Period To</h4>
                                        <span>
                                            @(Model.Where(x => x.Type == GlobalConstants.LOAN).Select(x => x.Period).Max()) months
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="~/img/deposit.png" alt="" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                            <div class="card-header-a">
                                <h2 class="card-title-a">
                                    <a href="/Products/Saves">
                                        Saves
                                        <br /> For your future
                                    </a>
                                </h2>
                            </div>
                            <div class="card-body-a">
                                <div class="price-box d-flex">
                                    <a href="/Products/Saves"><span class="price-a">Ask now</span></a>
                                </div>
                            </div>
                            <div class="card-footer-a">
                                <ul class="card-info d-flex justify-content-around">
                                    <li>
                                        <h4 class="card-info-title">Over</h4>
                                        <span>
                                            @(Model.Where(x => x.Type == GlobalConstants.SAVE).Count() - 1) saves
                                        </span>
                                    </li>
                                    <li>
                                        <h4 class="card-info-title">Rates To</h4>
                                        <span>
                                            @(Model.Where(x => x.Type == GlobalConstants.SAVE).Select(x => x.InterestRate).Max()) %
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="~/img/insurance.jpg" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                            <div class="card-header-a">
                                <h2 class="card-title-a">
                                    <a href="#">
                                        Insurances
                                        <br /> For your calmness
                                    </a>
                                </h2>
                            </div>
                            <div class="card-body-a">
                                <div class="price-box d-flex">
                                    <a href="#"><span class="price-a">Soon</span></a>
                                </div>
                            </div>
                            <div class="card-footer-a">
                                @*<ul class="card-info d-flex justify-content-around">
                                <li>
                                    <h4 class="card-info-title">Over</h4>
                                    <span>
                                        @(Model.Where(x => x.Type == GlobalConstants.INSURANCE).Count() - 1) saves
                                    </span>
                                </li>
                                <li>
                                    <h4 class="card-info-title">Interest Rates To</h4>
                                    <span>
                                        @(Model.Where(x => x.Type == GlobalConstants.INSURANCE).Select(x => x.InterestRate).Max()) %
                                    </span>
                                </li>
                                <li>
                                    <h4 class="card-info-title">Relaxed Conditions</h4>
                                    <span>
                                        from @(Model.Where(x => x.Type == GlobalConstants.INSURANCE).Select(x => x.Period).Max()) months to Open
                                    </span>
                                </li>
                            </ul>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="~/img/investments.jpg" alt="" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                            <div class="card-header-a">
                                <h2 class="card-title-a">
                                    <a href="#">
                                        Investments
                                        <br /> Wall street in your pocket
                                    </a>
                                </h2>
                            </div>
                            <div class="card-body-a">
                                <div class="price-box d-flex">
                                    <a href="#"><span class="price-a">Soon</span></a>
                                </div>
                            </div>
                            <div class="card-footer-a">
                                @*<ul class="card-info d-flex justify-content-around">
                                <li>
                                    <h4 class="card-info-title">Over</h4>
                                    <span>
                                        @(Model.Where(x => x.Type == GlobalConstants.INVESTMENT).Count() - 1) saves
                                    </span>
                                </li>
                                <li>
                                    <h4 class="card-info-title">Interest Rates To</h4>
                                    <span>
                                        @(Model.Where(x => x.Type == GlobalConstants.INVESTMENT).Select(x => x.InterestRate).Max()) %
                                    </span>
                                </li>
                                <li>
                                    <h4 class="card-info-title">Relaxed Conditions</h4>
                                    <span>
                                        from @(Model.Where(x => x.Type == GlobalConstants.INVESTMENT).Select(x => x.Period).Max()) months to Open
                                    </span>
                                </li>
                            </ul>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-box-a card-shadow">
                    <div class="img-box-a">
                        <img src="~/img/payments.jpg" alt="" class="img-a img-fluid">
                    </div>
                    <div class="card-overlay">
                        <div class="card-overlay-a-content">
                            <div class="card-header-a">
                                <h2 class="card-title-a">
                                    <a href="/Accounts/Index">
                                        Payments
                                        <br /> No more waste time
                                    </a>
                                </h2>
                            </div>
                            <div class="card-body-a">
                                <div class="price-box d-flex">
                                    <a href="/Accounts/Index"><span class="price-a">Ask now</span></a>
                                </div>
                            </div>
                            <div class="card-footer-a">
                                @*<ul class="card-info d-flex justify-content-around">
                                <li>

                                </li>
                            </ul>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
