@model List<BankCloud.Models.ViewModels.IndexViewModel>
    ;

@{
    ViewData["Title"] = "Home Page";
}

@{/* TODO: add and arrange by popularity */}

<div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
        @foreach (var item in Model)
        {
            <div class="carousel-item-a intro-item bg-image" style="background-image: url(@item.AdUrl)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">
                                        <h1 class="intro-title mb-4">
                                            <span class="color-b">Cloud </span> @item.Type
                                            <br> @item.Name
                                        </h1>
                                        <p class="intro-subtitle intro-price">
                                            <a href="/Products/@item.Type.ToString()Details/@item.Id"><span class="price-a">Ask now</span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<section class="section-property section-t8">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title-wrap d-flex justify-content-between">
                    <div class="title-box">
                        <h2 class="title-a">Latest Products</h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="property-carousel" class="owl-carousel owl-theme">
            @foreach (var item in Model)
            {
                <div class="carousel-item-b">
                    <div class="card-box-a card-shadow">
                        <div class="img-box-a">
                            <img src="@item.AdUrl" alt="" class="img-a img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-a-content">
                                <div class="card-header-a">
                                    <h2 class="card-title-a">
                                        <a href="#">
                                            @item.Type
                                            <br /> @item.Name
                                        </a>
                                    </h2>
                                </div>
                                <div class="card-body-a">
                                    <div class="price-box d-flex">
                                        <a href="/Products/@item.Type.ToString()Details/@item.Id"><span class="price-a">Ask now</span></a>
                                    </div>
                                </div>
                                <div class="card-footer-a">
                                    <ul class="card-info d-flex justify-content-around">
                                        <li>
                                            <h4 class="card-info-title">Added on</h4>
                                            <span>
                                                @item.IssuedOn.ToString("dd MMM yyyy")
                                            </span>
                                        </li>
                                        <li>
                                            <h4 class="card-info-title">Popularity</h4>
                                            <span>2</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</section>

