@model IEnumerable<BankCloud.Models.ViewModels.MyOrderedLoansViewModel>

@{
    ViewData["Title"] = "AllMyLoans";
}

<section class="section-agents section-t8">

    <h1 class="text-center">My Loans</h1>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Period)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MonthlyFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurencyIso)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Period)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonthlyFee)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurencyIso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <div class="price-box d-flex">
                            <a href="/Users/MyLoan/@item.Id"><span class="price-a">Details</span></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>