@model List<BankCloud.Models.ViewModels.UsersProductsPanelViewModel>
@{
    ViewData["Title"] = "Products";
}

<section class="section-agents section-t8">
    @foreach (var item in Model)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="title-single-box text-center">
                        <h1 class="title-single color-b">@item.Type.ToString()s</h1>
                        <span class="color-text-a">My @item.Type products and orders</span>
                    </div>
                </div>
                @if (User.IsInRole("Agent"))
                {
                    <div class="col-md-3">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/Users/Product@{@item.Type.ToString();}s">My Product @item.Type.ToString()s</a>
                                </li>

                            </ol>

                        </nav>

                    </div>

                    <div class="col-md-3">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/Users/ArchivedProduct@{@item.Type.ToString();}s">Archived @item.Type.ToString()s</a>
                                </li>
                            </ol>
                        </nav>
                    </div>

                    <div class="col-md-3">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/Users/Ordered@{@item.Type.ToString();}s">My Ordered @item.Type.ToString()s</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                }
                else
                {
                    <div class="col-md-9">
                        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/Users/Ordered@{@item.Type.ToString();}s">My Ordered @item.Type.ToString()s</a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                }
            </div>
        </div>
        <hr />
    }
</section>

