@model BankCloud.Models.ViewModels.Users.UsersProductsPanelViewModel
@using BankCloud.Services.Common
@using BankCloud.Models.ViewModels.Error 

@{
    ViewData["Title"] = "Products";
}

<section class="section-agents section-t8">
    @foreach (var item in Model.Type.Where(x => x == "Save" || x == "Loan"))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single color-b">@item</h1>
                        <span class="color-text-a">My @item products and orders</span>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                My @item
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <hr />
            @if (User.IsInRole("Agent"))
            {
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                @if (item == GlobalConstants.SAVE)
                                {
                                    <img src="~/img/deposit.png" alt="" class="img-a img-fluid">
                                }
                                @if (item == GlobalConstants.LOAN)
                                {
                                    <img src="~/img/loan-2.jpg" alt="" class="img-a img-fluid">
                                }
                                @if (item == GlobalConstants.INVESTMENT)
                                {
                                    <img src="~/img/investments.jpg" alt="" class="img-a img-fluid">
                                }
                                @if (item == GlobalConstants.INSURANCE)
                                {
                                    <img src="~/img/insurance.jpg" alt="" class="img-a img-fluid">
                                }
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="#">
                                                <br /><span class="h4">@item</span>
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex justify-content-center">
                                            <a href="/Users/Product@{@item}s"><span class="price-a">Products</span></a>
                                        </div>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">You Have</h4>
                                                @if (item == GlobalConstants.SAVE)
                                                {
                                                    <span>
                                                        @Model.Products.Where(x => x.IsDeleted == false && x.Type == "Save").Count() Products
                                                    </span>
                                                }
                                                @if (item == GlobalConstants.LOAN)
                                                {
                                                    <span>
                                                        @Model.Products.Where(x => x.IsDeleted == false && x.Type == "Loan").Count() Products
                                                    </span>
                                                }
                                                @if (item == GlobalConstants.INVESTMENT)
                                                {
                                                    <span>
                                                        @*@Model.Products.Where(x => x.IsDeleted == false && x.Type == "Save").Count() Products*@
                                                    </span>
                                                }
                                                @if (item == GlobalConstants.INSURANCE)
                                                {
                                                    <span>
                                                        @*@Model.Products.Where(x => x.IsDeleted == false && x.Type == "Save").Count() Products*@
                                                    </span>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                @if (item == GlobalConstants.SAVE)
                                {
                                    <img src="~/img/deposit.png" alt="" class="img-a img-fluid">
                                }
                                @if (item == GlobalConstants.LOAN)
                                {
                                    <img src="~/img/loan-2.jpg" alt="" class="img-a img-fluid">
                                }
                                @if (item == GlobalConstants.INVESTMENT)
                                {
                                    <img src="~/img/investments.jpg" alt="" class="img-a img-fluid">
                                }
                                @if (item == GlobalConstants.INSURANCE)
                                {
                                    <img src="~/img/insurance.jpg" alt="" class="img-a img-fluid">
                                }
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="#">
                                                <br /><span class="h4">@item</span>
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex justify-content-center">
                                            <a href="/Users/ArchivedProduct@{@item}s"><span class="price-a">Archived</span></a>
                                        </div>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">You Have</h4>
                                                @if (item == GlobalConstants.SAVE)
                                                {
                                                    <span>
                                                        @Model.Products.Where(x => x.IsDeleted == true && x.Type == "Save").Count() Archived
                                                    </span>
                                                }
                                                @if (item == GlobalConstants.LOAN)
                                                {
                                                    <span>
                                                        @Model.Products.Where(x => x.IsDeleted == true && x.Type == "Loan").Count() Archived
                                                    </span>
                                                }
                                                @if (item == GlobalConstants.INVESTMENT)
                                                {
                                                    <span>
                                                        @*@Model.Products.Where(x => x.IsDeleted == true && x.Type == "Save").Count() Archived*@
                                                    </span>
                                                }
                                                @if (item == GlobalConstants.INSURANCE)
                                                {
                                                    <span>
                                                        @*@Model.Products.Where(x => x.IsDeleted == true && x.Type == "Save").Count() Archived*@
                                                    </span>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                @if (item == GlobalConstants.SAVE)
                                {
                                    <img src="~/img/deposit.png" alt="" class="img-a img-fluid">
                                }
                                @if (item == GlobalConstants.LOAN)
                                {
                                    <img src="~/img/loan-2.jpg" alt="" class="img-a img-fluid">
                                }
                                @if (item == GlobalConstants.INVESTMENT)
                                {
                                    <img src="~/img/investments.jpg" alt="" class="img-a img-fluid">
                                }
                                @if (item == GlobalConstants.INSURANCE)
                                {
                                    <img src="~/img/insurance.jpg" alt="" class="img-a img-fluid">
                                }
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="#">
                                                <br /><span class="h4">@item</span>
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex justify-content-center">
                                            <a href="/Users/Ordered@{@item}s"><span class="price-a">Ordered</span></a>
                                        </div>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">You Have</h4>
                                                @if (item == GlobalConstants.SAVE)
                                                {
                                                    <span>
                                                        @Model.Orders.Where(x => x.Type == GlobalConstants.ORDER_SAVE).Count() Ordered
                                                    </span>
                                                }
                                                @if (item == GlobalConstants.LOAN)
                                                {
                                                    <span>
                                                        @Model.Orders.Where(x => x.Type == GlobalConstants.ORDER_LOAN).Count() Ordered
                                                    </span>
                                                }
                                                @if (item == GlobalConstants.INVESTMENT)
                                                {
                                                    <span>
                                                        @Model.Orders.Where(x => x.Type == GlobalConstants.ORDER_INVESTMENT).Count() Ordered
                                                    </span>
                                                }
                                                @if (item == GlobalConstants.INSURANCE)
                                                {
                                                    <span>
                                                        @Model.Orders.Where(x => x.Type == GlobalConstants.ORDER_INSURANCE).Count() Ordered
                                                    </span>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <div class="card-box-a card-shadow">
                            <div class="img-box-a">
                                @if (item == GlobalConstants.SAVE)
                                {
                                    <img src="~/img/deposit.png" alt="" class="img-a img-fluid">
                                }
                                @if (item == GlobalConstants.LOAN)
                                {
                                    <img src="~/img/loan-2.jpg" alt="" class="img-a img-fluid">
                                }
                                @if (item == GlobalConstants.INVESTMENT)
                                {
                                    <img src="~/img/investments.jpg" alt="" class="img-a img-fluid">
                                }
                                @if (item == GlobalConstants.INSURANCE)
                                {
                                    <img src="~/img/insurance.jpg" alt="" class="img-a img-fluid">
                                }
                            </div>
                            <div class="card-overlay">
                                <div class="card-overlay-a-content">
                                    <div class="card-header-a">
                                        <h2 class="card-title-a">
                                            <a href="#">
                                                <br /><span class="h4">@item</span>
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="card-body-a">
                                        <div class="price-box d-flex justify-content-center">
                                            <a href="/Users/Ordered@{@item}s"><span class="price-a">Ordered</span></a>
                                        </div>
                                    </div>
                                    <div class="card-footer-a">
                                        <ul class="card-info d-flex justify-content-around">
                                            <li>
                                                <h4 class="card-info-title">You Have</h4>
                                                @if (item == GlobalConstants.SAVE)
                                                {
                                                    <span>
                                                        @Model.Orders.Where(x => x.Type == GlobalConstants.ORDER_SAVE).Count() Ordered
                                                    </span>
                                                }
                                                @if (item == GlobalConstants.LOAN)
                                                {
                                                    <span>
                                                        @Model.Orders.Where(x => x.Type == GlobalConstants.ORDER_LOAN).Count() Ordered
                                                    </span>
                                                }
                                                @if (item == GlobalConstants.INVESTMENT)
                                                {
                                                    <span>
                                                        @Model.Orders.Where(x => x.Type == GlobalConstants.ORDER_INVESTMENT).Count() Ordered
                                                    </span>
                                                }
                                                @if (item == GlobalConstants.INSURANCE)
                                                {
                                                    <span>
                                                        @Model.Orders.Where(x => x.Type == GlobalConstants.ORDER_INSURANCE).Count() Ordered
                                                    </span>
                                                }
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr />
        <hr />
    }
</section>

