@model BankCloud.Models.BindingModels.Orders.OrdersOrderSaveInputModel
@using BankCloud.Data.Entities;

@{
    ViewData["Title"] = "OrderSave";
}

<section class="section-agents section-t8">
    <div class="container-fluid text-center">
        <div class="title-single-box">
            <h1 class="title-single"><span class="color-b">Make Deposit</span></h1>
            <span class="color-text-a">@Model.Name</span>
            <span class="color-text-a">@Model.InterestRate %</span>
            <span class="color-text-a">in @Model.CurrencyName</span>
            <br />
            <span class="color-text-a">Please insert your desired conditions</span>
        </div>
        <hr />
        <div class="container">
            <div class="col-md-5 mx-auto">
                <form asp-action="OrderSave" class="form-a fa-sign-in">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label asp-for="Amount" class="control-label"></label>
                            <input asp-for="Amount" class="form-control" id="saveAmount" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <input asp-for="InterestRate" type="hidden" class="form-control" readonly id="saveIntRate" />
                            <span asp-validation-for="InterestRate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label asp-for="MonthlyIncome" class="control-label"></label>
                            <input asp-for="MonthlyIncome" class="form-control" id="saveIncome" />
                            <span asp-validation-for="MonthlyIncome" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label>BankCloud Advice!!!</label>
                            <label>If you specify an account in another currency, you will be charged for conversion!</label>
                            @if (!Model.UserCurrencyTypes.Contains(Model.CurrencyName))
                            {
                                <a href="/Users/AccountCreate"><strong>Activate your free @Model.CurrencyName Account from here now!</strong></a>
                            }

                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-group">
                            <label asp-for="AccountId" class="control-label"></label>
                            <select asp-for="AccountId" class="custom-select">
                                <option value="" selected>Choose Account</option>
                                @foreach (var account in (List<Account>)ViewData["Accounts"])
                                {
                                    <option value="@account.Id">@account.IBAN | @account.Balance | @account.Currency.IsoCode</option>
                                };
                            </select>
                            <span asp-validation-for="AccountId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Order" class="btn btn-a" />
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a href="/Products/Saves/">Back to List</a>
        </div>
    </div>
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/depositCalculator.js"></script>
}